:root {
  --body-background: #121212;
  --background: #222222;
  --text: #efefef;
  --success: #34b934;
  --error: #e92828;
  --loading: gray;
  --input-background: #545454;
}

body {
  background-color: var(--body-background);
  color: var(--text);
  margin: 0;
  font-size: 75%;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.content-pad {
  padding: 1em;
}

.app-popup {
  width: 210px;
  background-color: var(--background);
}

.confirm-popup {
  width: 100%;
  margin: 0 auto;
  background-color: var(--background);
}

.app-title {
  font-weight: bold;
  font-size: 1.1em;
  background-color: #1a1a1a;
  padding: 0.5em;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 0.5em;
}

.input-title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.input-title2 {
  opacity: 0.9;
  margin-bottom: 0.25em;
}

.status-block {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 0.5em;
  opacity: 0.7;
}

.error-dot {
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  background-color: var(--error);
  display: inline-block;
}

.success-dot {
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  background-color: var(--success);
  display: inline-block;
}

.loading-dot {
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  background-color: var(--loading);
  display: inline-block;
}

.input-wrap {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.input {
  background: var(--input-background);
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  color: white;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  opacity: 0.7;
}

.input:focus {
  opacity: 1;
}

.input-button {
  border: none;
  background: var(--input-background);
  padding: 0.5em;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  opacity: 0.7;
}

.input-button:hover {
  opacity: 1;
}

.input-button:disabled {
  opacity: 0.5;
  user-select: none;
  cursor: default;
}

.input-checkbox {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border: thin solid var(--input-background);
  border-radius: 5px;
  margin-top: 1em;
}

.separator {
  width: 100%;
  background-color: var(--input-background);
  height: 3px;
  border-radius: 5px;
  margin: 0.5em 0;
  opacity: 0.3;
}

.row-grid {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5em;
}

.td-key {
  font-weight: bold;
  margin-bottom: 0.25em;
}

.break-all {
  word-break: break-all;
}

.row-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 1em;
  justify-content: end;
}

.row-buttons button {
  flex: 1;
}

.row-buttons button:nth-child(2) {
  background-color: #e92828;
}

.transfer-item {
  padding: 0.5em;
  background-color: #2a2a2a;
  margin-bottom: 0.5em;
}

.sc-args {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  background-color: #2a2a2a;
  margin-top: 0.5em;
  height: 10em;
  overflow: auto;
  word-break: break-word;
}

.sc-args-container {
  display: flex;
  flex-direction: row;
}

.sc-args-container:nth-child(odd) {
  background-color: #545454;
}

.sc-args-key {
  flex-basis: content;
  flex-grow: 0;
}

.sc-args-value {
  flex-grow: 1;
  text-align: end;
}

.reset-link {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.5;
}

.reset-link:hover {
  opacity: 1;
}

.error-bar {
  display: flex;
  min-height: 2em;
  align-items: flex-end;
}
